

.testimonial__container {
  width: 40%;
}


@media screen and (max-width: 1024px) {
  .testimonial__container {
    width: 60%;
  }
}

@media screen and (max-width: 600px) {
  .testimonial__container {
    width: var(--container-width-sm);
  }
}